.proj_imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 18px;
}

.proj_imgbx img {
  width: 100%;
}

.proj_imgbx::before {
  content: "";
  background: linear-gradient(
    90.21deg,
    rgba(0, 10, 250, 0.8) -5.91%,
    rgba(0, 255, 209, 0.8) 111.58%
  );
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj_imgbx:hover::before {
  height: 100%;
  cursor: pointer;
}

.proj_txt {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  color: #fff;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj_imgbx:hover .proj_txt {
  top: 50%;
  opacity: 1;
}

.proj_txt h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj_txt span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.proj_btn {
  display: inline-block;
}

.proj_btn svg {
  position: relative;
  top: 1.6em;
  left: 1.65em;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  z-index: 20;
}

@media (max-width: 768px) {
  .proj_imgbx {
    width: 85%;
    margin: 15px 30px;
  }

  .proj_btn svg {
    position: relative;
    left: 2.1em;
  }
}
