.skills {
  padding: 0 0 50px 0;
  position: relative;
}

.skill_bx {
  background-color: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.skills h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

.skills h5 {
  color: #fff;
}

.skills p {
  color: #bbbbbb;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill_slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill_slider .item {
  width: 100%;
  margin: 0 auto 15px auto;
}

.skill_slider .item h5{
  margin: 25px auto 15px auto;
}

.skill_slider .item .icon{
  font-size: 7em;
}

.bg_image {
  position: absolute;
  top: 28%;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.carousel_button_group {
  position: absolute;
  left: 10em;
}
