.footer {
  padding: 0 0 50px 0;
  background-image: url(../img/footer-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 50%;
  position: relative;
  top: 1em;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #bbbbbb;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer p a {
  color: #bbbbbb;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.footer p a:hover {
  color: #fff;
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 1em 1em;
}

.social_icons li {
  margin-left: 14px;
  padding: 0em 1em 1em 0em;
  border-radius: 50%;
  border: 2px solid #222;
  background-color: #121212;
}

.social_icons svg {
  font-size: 2em;
  color: #fff;
  z-index: 1;
  position: relative;
  left: 0.265em;
  top: 0.33em;
}

.social_icons li::before {
  content: "";
  padding: 1.5em;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social_icons li:hover::before {
  transform: scale(1);
}

.social_icons li:hover svg {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media (max-width: 768px) {
  .footer img {
    width: 50%;
    position: relative;
    left: 6.3em;
  }

  .social_icons {
    margin: 2.5em 6em;
  }
}
