#navbar {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

#navbar.scroll {
  padding: 0px 0;
  background-color: #121212;
}

#navbar img {
  width: 12em;
  display: flex;
  align-items: flex-start;
}

#nav_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0em 7em;
}

.nav_link_item,
.nav_link_item_active {
  display: flex;
  align-items: flex-start;
  margin: 0em 0.5rem;
  font-size: 1.15em;
  font-weight: 500;
  position: relative;
  left: -6em;
  transition: 0.5s;
}

.nav_link_item {
  color: rgba(255, 255, 255, 0.5);
}

.nav_link_item_active {
  color: #fff !important;
}

.nav_link_item:hover,
.nav_link_item:focus,
.nav_link_item_active:hover,
.nav_link_item_active:focus {
  color: #fff !important;
}

.social_icons {
  display: flex;
  list-style: none;
  margin: 1em 1em;
}

.social_icons li {
  margin-left: 14px;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 2px solid #222;
  background-color: #121212;
}

.social_icons svg {
  font-size: 2em;
  color: #fff;
  z-index: 1;
  position: relative;
  left: 0.34em;
  top: 0.35em;
}

.social_icons a::before {
  content: "";
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social_icons a:hover::before {
  transform: scale(1);
}

.social_icons a:hover svg {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
  position: relative;
  left: 0.37em;
  top: 0.36em;
}

.navbar_Btn button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 1em 1.5em;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar_Btn button span {
  z-index: 1;
}

.navbar_Btn button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar_Btn button:hover {
  color: #121212;
}

.navbar_Btn button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 768px) {
  #navbar {
    background-color: #121212;
  }

  #nav_items {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #navbar img {
    margin-bottom: 0.5em;
  }

  .nav_link_item,
  .nav_link_item_active {
    display: flex;
    align-items: center;
    margin: 0.3em 0.5rem;
    position: relative;
    left: -3em;
  }

  .social_icons {
    display: flex;
    margin: 1em 1.3em;
    position: relative;
    left: -5em;
  }

  .navbar_Btn button {
    position: relative;
    left: -3.5em;
    margin-bottom: 0.5em;
  }
}
